<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Home Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<header>
    <!--  BEGIN NAVIGATION BAR -->
    <% include templates/navigation.ejs %>
    <!-- END OF NAVIGATION BAR -->
</header>

    <div><img src=<%=data[0].image%> alt="placeholder" class="issue-pic" width="500" height="400" /></div>
    <div> ID: <%=data[0].id%></div>
    <div> Title: <%=data[0].title%></div>
    <div> Category ID: <%=data[0].category%></div>
    <div> Description: <%=data[0].description%></div>
    <div> Zip Code: <%=data[0].zipcode%></div>


</body>

<footer class="text-muted">
    <div class="container">
        <!-- Default Bootstrap Footer
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  -->
    </div>
</footer>

</html>