<!--
	TEMPLATE: single_search_result.ejs
	This is a single search result listing appearing in an inline block format.
	The code in results.ejs will generate multiple instances of this code.
-->

<div class="col-md-4">
	<div class="home-search-result">
		<a href="../issue/view/<%=data[i].id%>" target="_blank">
		    <img src=<%=data[i].thumbnail%> class="thumbnail-image" />
		</a>

		<h5><a href="../issue/view/<%=data[i].id%>" target="_blank"><%=data[i].title%></a></h5>
		<p>
			<span id="search-result-name"><%=data[i].name%></span><br/>
			<span id="search-result-zipcode"><%=data[i].address%></span>
			<span id="search-result-zipcode"><%=data[i].zipcode%></span>
		</p>
	</div>
</div>